[Unit]
Description=Query and configure network interfaces using JSON-RPC over HTTP.

[Service]
Type=simple
User=peach-network
Group=wpactrl-user
Environment="RUST_LOG=error"
ExecStart=/usr/bin/peach-network
Restart=always

[Install]
WantedBy=multi-user.target
